USE [NGANHANG]
GO
/****** Object:  StoredProcedure [dbo].[sp_GdChuyenTien_Transfer]    Script Date: 2/14/2022 3:35:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GdChuyenTien_Transfer]
@SOTK_CHUYEN nchar(9), @NGAYGD datetime, @SOTIEN money, @SOTK_NHAN nchar(9), @MANV nchar(10)
AS
DECLARE @SODU money
SELECT @SODU = SODU FROM TaiKhoan WHERE SOTK = @SOTK_CHUYEN
SET XACT_ABORT ON
BEGIN TRANSACTION
	IF @SODU < @SOTIEN
		THROW 50000, N'Số dư tài khoản không đủ để chuyển tiền!', 1
	ELSE
	BEGIN
		UPDATE TaiKhoan SET SODU = SODU - @SOTIEN WHERE SOTK = @SOTK_CHUYEN
		UPDATE TaiKhoan SET SODU = SODU + @SOTIEN WHERE SOTK = @SOTK_NHAN
		INSERT INTO GD_CHUYENTIEN (SOTK_CHUYEN, NGAYGD, SOTIEN, SOTK_NHAN, MANV)
		VALUES (@SOTK_CHUYEN, @NGAYGD, @SOTIEN, @SOTK_NHAN, @MANV)
	END
COMMIT TRANSACTION
GO
