USE [NGANHANG]
GO
/****** Object:  StoredProcedure [dbo].[sp_GdGoiRut_WithdrawDeposit]    Script Date: 2/14/2022 3:35:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GdGoiRut_WithdrawDeposit]
@SOTK nchar(9), @LOAIGD nchar(2), @NGAYGD datetime, @SOTIEN money, @MANV nchar(10)
AS
DECLARE @SODU money
SELECT @SODU = SODU FROM TaiKhoan WHERE SOTK = @SOTK
SET XACT_ABORT ON
BEGIN TRANSACTION
	IF @LOAIGD = 'RT'
		IF @SODU < @SOTIEN
			THROW 50000, N'Số dư tài khoản không đủ để rút tiền!', 1
		ELSE
		BEGIN
			UPDATE TaiKhoan SET SODU = SODU - @SOTIEN WHERE SOTK = @SOTK
			INSERT INTO GD_GOIRUT (SOTK, LOAIGD, NGAYGD, SOTIEN, MANV)
			VALUES (@SOTK, @LOAIGD, @NGAYGD, @SOTIEN, @MANV)
		END
	ELSE 
	BEGIN
		UPDATE TaiKhoan SET SODU = SODU + @SOTIEN WHERE SOTK = @SOTK
		INSERT INTO GD_GOIRUT (SOTK, LOAIGD, NGAYGD, SOTIEN, MANV)
		VALUES (@SOTK, @LOAIGD, @NGAYGD, @SOTIEN, @MANV)
	END
COMMIT TRANSACTION
GO
