USE [NGANHANG]
GO
/****** Object:  StoredProcedure [dbo].[sp_KhachHang_ListOfCustomersByBranch]    Script Date: 2/14/2022 3:35:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_KhachHang_ListOfCustomersByBranch] @BranchID nchar(10)
AS
SELECT CMND, HO, TEN, DIACHI, PHAI, NGAYCAP FROM Link2.NGANHANG.dbo.KhachHang 
WHERE MACN = @BranchID
ORDER BY HO, TEN
GO
