USE [NGANHANG]
GO
/****** Object:  StoredProcedure [dbo].[sp_TaiKhoan_CanDelete]    Script Date: 2/14/2022 3:35:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_TaiKhoan_CanDelete] @SOTK nchar(9)
AS
IF EXISTS (SELECT * FROM GD_GOIRUT WHERE SOTK = @SOTK)
	OR EXISTS (SELECT * FROM GD_CHUYENTIEN WHERE SOTK_CHUYEN = @SOTK OR SOTK_NHAN = @SOTK)
	OR EXISTS (SELECT * FROM Link1.NGANHANG.dbo.GD_GOIRUT WHERE SOTK = @SOTK)
	OR EXISTS (SELECT * FROM Link1.NGANHANG.dbo.GD_CHUYENTIEN WHERE SOTK_CHUYEN = @SOTK OR SOTK_NHAN = @SOTK)
	-- can't delete this account
	RETURN 0;
ELSE 
	-- can delete this account 
	RETURN 1;
GO
